:root {
	--white: #f4f1de;
	--red: #e07a5f;
	--darkred: #c8411c;
	--yellow: #fdc929;
	--blue: #3d405b;
	--darkblue: #23242f;
	--green: #81b29a;
	--darkgreen: #52856c;
	--skin: #f2cc8f;
}

// System button
.system-btn {
	padding: 10px;
	border-radius: 10px;
	background-color: var(--green);
	border: 3px solid var(--darkblue);
	color: var(--white);
	font-size: 1.2rem;
	position: relative;
	cursor: pointer;
	min-height: 50px;
	overflow: hidden;
	// 跳過
	&-skip {
		background-color: var(--white);
		color: var(--green);
	}
	&-disabled {
		color: var(--blue);
		background-color: var(--darkgreen);
	}
	&:after {
		position: absolute;
		content: '';
		left: 0;
		right: 0;
		bottom: 0;
		height: 10%;
		width: 100%;
		background-color: var(--blue);
		opacity: 0.3;
	}
}

// 防止行動裝置出現 hover 效果
@media (any-pointer: fine) {
	.system-btn:hover {
		transform: scale(0.95);
	}
}

// Nav
.nav-container {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 5px;
}
.nav-btn {
	flex-grow: 1;
	border-radius: 10px;
	color: var(--blue);
	background-color: var(--skin);
	border: 3px solid var(--darkblue);
	position: relative;
	cursor: pointer;
	min-height: 40px;
	overflow: hidden;
	&-active {
		color: var(--white);
		background-color: var(--green);
	}
}

// 系統提示
.system-text {
	margin: 0;
	position: absolute;
	padding: 2px 10px;
	border: 3px solid var(--darkblue);
	border-radius: 5px;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--blue);
	color: var(--skin);
	white-space: nowrap;
	z-index: 2;
}

// 說明文字
.reminder-text {
	margin: 0;
	color: var(--blue);
	white-space: nowrap;
	padding: 5px;
	width: 100%;
	text-align: center;
}

// 物品框
.frame {
	position: fixed;
	left: 0;
	right: 0;
	bottom: -10px;
	height: 90vh;
	z-index: 3;
	transition: all 0.3s;
	border-radius: 20px;
	border: 8px solid var(--darkblue);
	background-color: var(--skin);
	transform: translateY(100%);
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 15px;
	&-show {
		transform: translateY(0);
	}
}
